---
permalink: "/counselling/"
pageTitle: "Counselling"
---
{% include "site-header.njk" %}
{%- set sections = counsellingPage -%}
{#- Everything except the enquiry form, which lives in one place on the site. -#}
{%- set sectionsShown = ["hero", "about", "services", "workplace", "approach", "process"] -%}
{%- set showHeroButtons = false -%}
{% include "page-sections.njk" %}


{% include "site-footer.njk" %}
